<style>
    .products-index .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .products-index .card-body {
        flex-grow: 1;
    }

    .products-index .card-footer {
        margin-top: auto;
    }
</style>
<div style="background-image: url('@Url.Content("~/images/productsindex.jpg")'); background-size: cover; background-position: center; padding: 2rem;">
    <div class="container">
        <div class="row">
                <div class="products-index">
                    <div class="row">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            <div class="col-md-4 col-lg-3 mb-5">
                                <div class="card border-light shadow-sm bg-light-opacity">
                                    <a asp-controller="FavoriteProducts" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
                                        <img class="card-img-top img-fluid" src="@item.ProductImage" alt="Card image cap" style="height: 200px; object-fit: cover;">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">@item.ProductName</h5>
                                            <p class="card-text">@item.ProductDescription</p>
                                            <h6>Price: @item.Price</h6>
                                        </div>
                                    </a>
                                    <div class="card-footer bg-light text-center">
                                        <a asp-controller="Products" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-info">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function toggleSubCategories(categoryId) {
            var subCategories = document.getElementById('subCategories-' + categoryId);
            if (subCategories.style.display === 'none') {
                subCategories.style.display = 'block';
            } else {
                subCategories.style.display = 'none';
            }
        }
    </script>
}
